{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Top</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>
<h1 class="top-title">&gt;&nbsp;板&nbsp;&lt;</h1>

<div>
    <form class="basic-form" method="post" action="{% url 'post' %}">
        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}

        {% csrf_token %}
        <label class="basic-input-container">
            <input type="text" placeholder="NAME" name="name" value="{{ name }}">
        </label>
        <label class="basic-input-container">
            <textarea placeholder="TEXT" name="text">{{ text }}</textarea>
        </label>
        <label class="basic-input-container">
            <input type="submit" value="SEND">
        </label>
    </form>
</div>

<div>
    {% for post in posts %}
        <div class="post-card">
            <div class="head">
                <div class="name">{{ post.name }}</div>
                <div class="date">{{ post.post_date_str }}</div>
            </div>
            <pre class="text">{{ post.text }}</pre>
        </div>
    {% endfor %}
</div>
</body>
</html>