{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Top</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>
<h1 class="top-title">&gt;&nbsp;板&nbsp;&lt;</h1>

<div>
    <form class="basic-form">
        <label class="basic-input-container">
            <input type="text" placeholder="NAME">
        </label>
        <label class="basic-input-container">
            <textarea placeholder="TEXT"></textarea>
        </label>
        <label class="basic-input-container">
            <input type="submit" value="SEND">
        </label>
    </form>
</div>
</body>
</html>